@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

* {
  direction: rtl;
  font-family: 'IBM Plex Sans Arabic', sans-serif !important;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.MuiCard-root{
  border: 2px solid #000;
}